body {
    background-color: black;
}

.btn-1 {
    transition: ease-out 0.6s;
    box-shadow: inset 0 0 0 0 red;
}

.btn-1:hover {
    box-shadow: inset 300px 0 0 0 red;
    cursor: pointer;
}

.btn-2 {
    transition: ease-out 0.06;
    box-shadow: inset 0 0 0 0 red;
}

.btn-2:hover {
    box-shadow: inset 300px 0 0 0 red;
    cursor: pointer;
}

.btn-3 {
    transition: ease-out 0.06;
    box-shadow: inset 0 0 0 0 red;
}

.btn-3:hover {
    box-shadow: inset 300px 0 0 0 red;
    cursor: pointer;
}

.image {
    position: absolute;
    margin-left: 1000px;
    bottom: -400px;
}

.btn-4 {
    transition:ease-out 0.06s;
    box-shadow: inset 0 0 0 0 red;
}

.btn-4:hover {
    box-shadow: inset 300px 0 0 0 red;
    cursor: pointer;
}

.image-1 {
    position: absolute;
    margin-right: 1000px;
    bottom: -327px;
    height: 559px;
    width: 500px;
}

.btn-5 {
    background-color: blue;
    border: 10mm;
    width: 100px;
    height: 60;
}


#font {
    font-family: 'Anton', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif;
}
